
.ui-component-context .top-right-area{
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: .5rem;
    display: grid;
    grid-template-rows: 1fr;
    padding: .2rem .4rem;
    gap: 1rem;
    opacity: .2;
    transition: opacity .15s ease-out;
}
.ui-component-context .top-right-area:hover,
.ui-component-context.edit .top-right-area {
    opacity: 1;
}



.ui-component-context .edit-manager {
    position: relative
}

.ui-component-context .layer-manager{
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
    overflow-y: auto;
    max-height: 50vh;
}
.ui-component-context .layer-manager .layer {
    
}

.ui-component-context .layer-manager .layer .layer-main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ui-component-context .layer-manager .layer .layer-main-container .left {
    display: none;
}
.ui-component-context .layer-manager .layer.edit .layer-main-container .left {
    display: flex;
    flex-direction: column;
}
.ui-component-context .layer-manager .layer .layer-main-container .right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: .2rem;
}

.ui-component-context .layer-manager .layer .nested-main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ui-component-context .layer-manager .layer .nested-main-container .left {
    display: none;
}
.ui-component-context .layer-manager .layer.edit .nested-main-container .left {
    display: flex;
}
.ui-component-context .layer-manager .layer .nested-main-container .right {
    flex-grow: 1;
}






.ui-component-context .layer-manager .layer.edit {
    background-color: rgba(50, 50, 50, .5);
}

.ui-component-context .bottom-right-area {
    position: absolute;
    right: 0;
    bottom: 0;
}

.ui-component-context .bottom-right-area .active {
    background-color: red;
}